---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menú de Bebidas">
    <section class="bg-white h-full text-[#5d767f]">
        <div class="max-w-3xl mx-auto px-6 py-20 ">
            <h1 class="text-5xl font-fjalla mb-10 text-center tracking-wide">Menú de Bebidas</h1>

            <div class="space-y-16">
                <!-- BEBIDAS SIN ALCOHOL -->
                <div>
                    <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Sin Alcohol</h2>
                    <div class="space-y-4">
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Limonada clásica</span>
                            <span class="font-semibold">$2.800</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold ">
                            <span>Jugo exprimido de naranja</span>
                            <span class="font-semibold">$3.200</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Gaseosa línea Coca-Cola</span>
                            <span class="font-semibold">$2.400</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Agua con o sin gas</span>
                            <span class="font-semibold">$1.900</span>
                        </div>
                    </div>
                </div>

                <!-- TRAGOS CLÁSICOS -->
                <div>
                    <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Tragos</h2>
                    <div class="space-y-4">
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Fernet con Coca</span>
                            <span class="font-semibold">$5.500</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Cuba Libre</span>
                            <span class="font-semibold">$6.200</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Mojito clásico</span>
                            <span class="font-semibold">$6.800</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Aperol Spritz</span>
                            <span class="font-semibold">$7.200</span>
                        </div>
                    </div>
                </div>

                <!-- CERVEZAS -->
                <div>
                    <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Cervezas</h2>
                    <div class="space-y-4">
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Pinta IPA</span>
                            <span class="font-semibold">$4.900</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Pinta Lager</span>
                            <span class="font-semibold">$4.500</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Botella artesanal 500ml</span>
                            <span class="font-semibold">$5.800</span>
                        </div>
                    </div>
                </div>

                <!-- VINOS -->
                <div>
                    <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Vinos</h2>
                    <div class="space-y-4">
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Copa Malbec</span>
                            <span class="font-semibold">$4.200</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Copa Cabernet Sauvignon</span>
                            <span class="font-semibold">$4.400</span>
                        </div>
                        <div class="flex justify-between border-b pb-2 font-semibold">
                            <span>Botella Reserva</span>
                            <span class="font-semibold">$11.500</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</Layout>