---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Menú de Comidas">
    <section class="bg-[#5d767f] h-full text-white">
        <div class="max-w-3xl mx-auto px-6 py-20 ">
            <h1 class="text-5xl font-fjalla mb-10 text-center tracking-wide">Menú de Comidas</h1>


    <div class="space-y-16">
    <!-- ENTRADAS -->
        <div>
        <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Entradas</h2>
        <div class="space-y-4">
        <div class="flex justify-between border-b pb-2">
        <span>Bruschettas clásicas</span>
        <span class="font-semibold">$4.200</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Bastones de muzzarella</span>
        <span class="font-semibold">$5.800</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Papas rústicas con alioli</span>
        <span class="font-semibold">$3.900</span>
        </div>
        </div>
        </div>


        <!-- PRINCIPALES -->
        <div>
        <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Platos Principales</h2>
        <div class="space-y-4">
        <div class="flex justify-between border-b pb-2">
        <span>Hamburguesa Gourmet + Papas</span>
        <span class="font-semibold">$8.500</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Orecchiette con salsa crema & limón</span>
        <span class="font-semibold">$7.900</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Pollo grillado con vegetales</span>
        <span class="font-semibold">$9.200</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Milanesa napolitana + guarnición</span>
        <span class="font-semibold">$9.800</span>
        </div>
        </div>
        </div>


        <!-- POSTRES -->
        <div>
        <h2 class="text-3xl font-semibold mb-6 mt-8 uppercase tracking-wide">Postres</h2>
        <div class="space-y-4">
        <div class="flex justify-between border-b pb-2">
        <span>Flan casero + dulce</span>
        <span class="font-semibold">$3.200</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Cheesecake clásico</span>
        <span class="font-semibold">$4.800</span>
        </div>
        <div class="flex justify-between border-b pb-2">
        <span>Brownie tibio con helado</span>
        <span class="font-semibold">$5.400</span>
        </div>
        </div>
        </div>
        </div>
    </div>
    </section>
</Layout>