<header 
  class="w-full sm:h-[80vh] h-[60vh] bg-cover bg-center bg-no-repeat relative mt-0 mb-0" 
  style="background-image: url('/public/assets/img/background.jpg');"
>

  <!-- Overlay para oscurecer la imagen -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Contenido centrado -->
  <section 
    class="relative z-10 h-full flex flex-col items-center justify-center text-center px-4"
    data-aos="fade-up"
  >
    <h2 class="text-5xl font-medium mb-4 text-[#DED1C6]">SEA FOOD</h2>

  </section>

</header>