<section id="menu" class="w-full bg-cover bg-center bg-no-repeat mt-0 mb-0 p-0">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full">

    <!-- FOOD -->
    <div class="relative w-full h-[300px] md:h-[500px]">
      <img src="/assets/img/food.jpg" 
           alt="food image"
           class="w-full h-full object-cover"/>

      <!-- BOTÓN -->
      <a href="/menu-comida"
         class=" absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
                border border-white text-white 
                px-8 py-3 font-medium
                bg-[#5d767f] hover:bg-white hover:text-[#5d767f] hover:border-white hover:font-bold transition"
                data-aos="fade-up">
        PARA COMER
      </a>
    </div>

    <!-- DRINKS -->
    <div class="relative w-full h-[300px] md:h-[500px]">
      <img src="/assets/img/drinks.jpg" 
           alt="drinks image"
           class="w-full h-full object-cover"/>


      <!-- BOTÓN -->
      <a href="/menu-bebidas"
         class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
                border border-white text-white
                px-8 py-3 font-medium 
               bg-[#5d767f]  hover:bg-white hover:text-[#5d767f] hover:border-white hover:font-bold transition"
               data-aos="fade-up">
        PARA TOMAR
      </a>
    </div>

  </div>
</section>
